.pydevproject
.project
.commit
.cache/
craniodistractor.egg-info/
*.pyc
*.ipynb
venv/
notebooks/
*.whl
playground/
.settings/
cranio.egg-info/
.idea/
build/
dist/
_cache/
sandbox/
**/app.log*
.coverage*
cranio.db