appdirs==1.4.4
atomicwrites==1.4.1
attrs==26.1.0
black==26.5.1
Click==8.4.2
colorama==0.4.6
coverage==7.15.0
more-itertools==11.1.0
numpy==2.5.1
pandas==3.0.4
pathspec==1.1.1
pluggy==1.6.0
py==1.11.0
PyQt5==5.15.11
PyQt5-sip==12.18.0
pyqtgraph==0.14.0
pyserial==3.5
pytest==9.1.1
pytest-cov==7.1.0
pytest-helpers-namespace==2021.12.29
pytest-qt==4.5.0
python-dateutil==2.9.0.post0
pytz==2026.2
regex==2026.6.28
ruamel.yaml==0.19.1
six==1.17.0
SQLAlchemy==2.0.51
toml==0.10.2
typed-ast==1.5.5
