appdirs==1.4.4
atomicwrites==1.4.1
attrs==23.2.0
black==24.3.0
Click==8.1.7
colorama==0.4.6
coverage==7.4.4
more-itertools==10.2.0
numpy==1.26.4
pandas==2.2.1
pathspec==0.12.1
pluggy==1.4.0
py==1.11.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyqtgraph==0.13.4
pyserial==3.5
pytest==8.1.1
pytest-cov==4.1.0
pytest-helpers-namespace==2021.12.29
pytest-qt==4.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2023.12.25
ruamel.yaml==0.18.6
six==1.16.0
SQLAlchemy==2.0.28
toml==0.10.0
typed-ast==1.4.0
