atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
more-itertools==7.0.0
numpy==1.16.3
pandas==0.24.2
pluggy==0.11.0
py==1.8.0
PyQt5==5.12.2
PyQt5-sip==4.19.13
pyqtgraph==0.10.0
pyserial==3.4
pytest==4.5.0
pytest-qt==3.2.2
python-dateutil==2.8.0
pytz==2019.1
ruamel.yaml==0.15.94
six==1.12.0
SQLAlchemy==1.3.3
Sphinx==2.0.1
sphinx-autodoc-typehints==1.4.0